/* card */
.card-icon {
    font-size: 30px;
}
.size {
    font-size: 30px;
}
.collapses {
    width: fit-content;
    height: 65px;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: rgb(220, 255, 220);
}
.btn-edit {
    background-color: rgb(173, 255, 173);
    border: 2px solid rgb(0, 107, 5);
    height: 30px;
}

/* table */
/* .tbl-header th{
    background-color: rgb(95, 95, 255);
} */
.no-bg{
    background-color: transparent;
}
/* .tbl-body tr:nth-of-type(odd){
    background-color: rgb(255, 255, 255);
}
.tbl-body tr:nth-of-type(even){
    background-color: rgb(196, 196, 255);
    background-color: #9797ff;
} */

/* total */
.box-size {
    width: 49%;
    margin-top: 10px;
    transition: width 0.3s ease;
}



@media (max-width: 1130px) {
    .box-size {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .card-icon {
    font-size: 20px;
}
.size {
    font-size: 20px;
}
.tbl-header th tr {
    font-size: 14px;
}
.tbl-body tr td {
    font-size: 14px;
}
.txt-margin {
    margin-top: 0px !important;
}
.card-width1 {
    width: 80% !important;
}
.card-width2 {
    width: 20% !important;
}
}




/* From Uiverse.io by akshat-patel28 */ 
.card1 {
  width: 330px;
  height: 80px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  position: fixed;
  transition: top 0.2s ease-in;
  left: 50%;
  transform: translateX(-50%);
}
.wave {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: #04e4003a;
}
.icon-container {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #04e40048;
  border-radius: 50%;
  margin-left: 8px;
}
.icon {
  width: 17px;
  height: 17px;
  color: #269b24;
}
.message-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
.message-text,
.sub-text {
  margin: 0;
  cursor: default;
}
.message-text {
  color: #269b24;
  font-size: 17px;
  font-weight: 700;
}
.sub-text {
  font-size: 14px;
  color: #555;
}
.cross-icon {
  width: 18px;
  height: 18px;
  color: #555;
  cursor: pointer;
}
